data/docs/*
graphene_oxide_notebooks/assets/*
*.pyc
data/chroma/*
notebooks/assets/X-ELS-APIKEY
notebooks/assets/openai_api_key
notebooks/assets/huggingface_api_key
question_answering/__pycache__/*
question-answering/.env/*
data/paperqa/docs.pickle
data/chroma/*
data/graphene_oxide.tsv
question-answering/squad/squad_sbd4nano_go.json
question-answering/squad/squad_sbd4nano_go.csv
notebooks/squad_sbd4nano_go.json
notebooks/squad_sbd4nano_go.csv
data/go.tsv
data/data/docs/test/chroma-collections.parquet
data/data/docs/test/index/*
.~*
*pkl
*tsv
data/data/docs/test/chroma-embeddings.parquet
